#backend
backend/node_modules
backend/.env
backend/package-lock.json


#frontend
frontend/node_modules
frontend/package-lock.json
frontend/pnpm-lock.yaml
frontend/yarn.lock
frontend/tsconfig.app.json
frontend/tsconfig.json
frontend/tsconfig.node.json
frontend/tsconfig.spec.json
frontend/tsconfig.tsbuildinfo
frontend/pnpm-lock.yaml
frontend/yarn.lock

.DS_Store